body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
}
.task-app {
  background-color: white;
  padding: 1rem;
  max-width: 40rem;
  margin: 0 auto;
}

button {
  background-color: lightblue;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  cursor: pointer;
}
button:hover {
  background-color: teal;
  color: white;
}

.task-container {
  list-style: none;
  background-color: rgb(155, 4, 84);
  padding: 0.5rem;
}
.task {
  margin: 0.5rem;
  padding: 0.3rem;
  background-color: rgb(5, 50, 50);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-completed {
  text-decoration: line-through;
  margin: 0.5rem;
  padding: 0.3rem;
  background-color: rgb(184, 197, 197);
  color: rgb(123, 116, 116);
  display: flex;
  align-items: center;
  justify-content: space-between;
}